.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    text-align: center;
    border: 3px;
    border-radius: 10px;
    border-style: solid;
}

img{
    width: 15em;
    height: 15em;
    margin: 1em;
}

.item {
    width: auto;
    height: auto;
    flex-grow: 1;
    border: 1px;
    border-style: solid;
}
